@page
@model Employment_advertisement_project.Pages.Candidate_details.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Candidate_detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate_detail.Name_of_candidate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate_detail.Name_of_candidate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate_detail.DOB_of_candidate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate_detail.DOB_of_candidate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate_detail.Mobile_no_of_candidate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate_detail.Mobile_no_of_candidate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidate_detail.Email_address_of_candidate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidate_detail.Email_address_of_candidate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Candidate_detail.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
