@page
@model Employment_advertisement_project.Pages.Job_details.DeleteModel

@{
    ViewData["Title"] = "Delete";
}
<!--code to delete the database from the job deatils table-->
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job_Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Job role
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_role)
        </dd>
        <dt class="col-sm-2">
            Job type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_type)
        </dd>
        <dt class="col-sm-2">
            Job salary
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_salary)
        </dd>
        <dt class="col-sm-2">
            Job description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_description)
        </dd>
        <dt class="col-sm-2">
          Employer Detail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Employer_Detail.Employer_name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Job_Detail.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
