@page
@model Employment_advertisement_project.Pages.Job_details.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<!--code to show the details of the table-->

<h1>Details</h1>

<div>
    <h4>Job_Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
          Job role
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_role)
        </dd>
        <dt class="col-sm-2">
            Job type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_type)
        </dd>
        <dt class="col-sm-2">
           Job salary
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_salary)
        </dd>
        <dt class="col-sm-2">
           Job description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Job_description)
        </dd>
        <dt class="col-sm-2">
          Employer Detail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job_Detail.Employer_Detail.Employer_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job_Detail.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
