@page
@model Employment_advertisement_project.Pages.Apply_Job_Details.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Candidate Detail
            </th>
            <th>
              Job Detail
            </th>
            <th>
             Candidate availabilities
            </th>
            <th>
               Candidate notice period
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Apply_Job_Detail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate_Detail.Name_of_candidate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job_Detail.Job_role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate_availabilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate_notice_period)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
